/*
Author: Chip Weatherly
Date: 7/28/2024
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section, article, aside, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for skip navigation link */
.skip {
    position: absolute;
    left: -999px;
}

.skip:focus {
    color: #0C0E0A;
    background-color: #FEF7DA;
    text-decoration: none;
    padding: 0.5%;
    top: auto;
    left: auto;
    right: 1px;
    z-index: 1;
}

/* Style rules for transparent backgrounds */
.transparent-white{
    background-color: rgba(254,247,218,0.75);
}

.transparent-red{
    background-color: rgba(81,19,21,0.95);
}

/* Style rules for body and images */
body {
    background-image: url(/images/SD072.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

#container {
    margin: 1.2em;
    justify-content: space-between;
}

/* Style rule for box sizing, applies to all elements */
* {
    box-sizing: border-box;
}

/* Style rules for mobile viewport*/

/* Show mobile class, hide tablet-desktop class */
.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

/* Style rule for header */
header {
    width: 100%;
    padding: .1em;
    font-size: 40px;
    text-align: center;
    background-color: #511315;
    box-sizing: border-box;
    margin: .5em;
}

header img {
    padding: .1em;
    width: auto;
    height: 100%;
}

/* Style rules for navigation area */
nav {
	padding: 1%;
    box-sizing: border-box;
    background-color: #511315;
}

nav ul {
    list-style-type: none;
    text-align: left;
}

nav li {
    font-size: 1.5em;
    font-family: 'Francois One', Arial, sans-serif;
    border-top: 1px solid #e1d8ca;
}

nav li:first-child {
    border-top: none;
}

nav li a {
    display: block;
    color: #FEF7DA;
    text-align: center;
    padding: .25em;
    text-decoration: none;
}

nav li a:hover {
        color: #18271b;
        background-color: #e1d8ca;
    }

/* Style rules for main content */
main {
    font-size: 1.15em;
    font-family: 'Roboto Slab', serif;
    
}

/* Add a card effect for articles */
.card {
  padding: 20px;
  margin-top: 20px;
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.rightcolumn img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;
}

.small-logo img {
    max-width: 15em;
    height: auto;
}

.frame {
    position: relative;
    max-width: 450px;
    margin: 2% auto;
}

.pic-text {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #FEF7DA;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

article {
    padding: 2%;
}

article img {
    margin: 0 auto;
    padding-bottom: 1%;
}

article h3 {
    padding-top: 1%;
}

article ul {
    margin-left: 2%;
    padding-bottom: 5%;
}

.tel-link {
    background-color: #18271b;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius:5px;
}

.tel-link a {
    color: #FEF7DA;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

#contact {
    text-align: center;
}

#contact .contact-email-link {
    color: #666600;
    text-decoration: none;
}

.map {
    border: 2px solid #000;
    width: 95%;
    height: 50%;
}

.comments {
    text-align: left;
    padding: 1%;
    margin: 0 auto;
}

/* Style rules for table */
table {
    border: 1px solid #000;
    width: 100%;
}

caption {
        font-weight: bold;
        padding: 1%;
    }
    
th, td {
    border: 1px solid #000;
    padding: 1%;
    width: 25%;
    text-align: center;
}

th {
    background-color: #18271b;
    color: #e1d8ca;
    
}

.book-link {
    background-color: #18271b;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 8px;
}

.book-link a {
    color: #e1d8ca;
    text-decoration: none;
    font-size: 2.5em;
    display: block;
}

/* Style rules for form elements */
#form {
    margin-top: 2%;
    background-color: #e1d8ca;
    padding: 2%;
}

#form h2 {
    text-align: center;
}


fieldset, input, select, textarea {
    margin-bottom: 2%;
}

fieldset legend {
    font-weight: bold;
    font-size: 1.25em;
}

label {
    display: block;
    padding-top: 2%;
}

form #submit {
    margin: 0 auto;
    border: none;
    display: block;
    padding: 2%;
    background-color: #18271b;
    color: #e1d8ca;
    font-size: 1em;
    border-radius: 10px;
}


/* Style rules for footer content */
footer {
    margin-top: .5em;
}

footer .copyright {
    font-size: 0.75em;
    text-align: center;
    color: #e1d8ca;
    padding: 2% 4%;
    width: 75%;
    margin: auto;
}

footer p a {
    color: #e1d8ca;
    text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 800px), print {
    
    /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
    
    .tablet-desktop {
        display: block;
    }
    
    .mobile {
        display: none;
    }
    
    /* Tablet Viewport: Style Rule for header */
    
    header {
        padding-bottom: 2%;
    }
    
    /* Tablet Viewport: Style rules for nav area */
    
    nav li {
        border-top: none;
        display: inline-block;
    }
    
    nav li:last-child {
        border-right: none;
    }
    
    nav li a {
        text-align: left;
        padding: 0.1em 0.75em;
    }
    
    /* Tablet Viewport style rules for main content */
    aside {
        text-align: center;
        font-size: 1.25em;
        font-style: italic;
        font-weight: bold;
        padding: 1.5%;
        background-color: #385a3f;
        box-shadow: 5px 5px 8px #000;
        color: #e1d8ca;
        text-shadow: 5px 5px 5px #18271b;
        border-radius: 15px;
    }
    
    /* Classes to denote left/right columns within main content */
    .leftcolumn {
        float: left;
        width: 75%;
    }

    .rightcolumn {
        float: right;
        width: 25%;
        padding-left: 20px;
    }
    
    .rightcolumn img {
    max-width: 100%;
    height: auto;
}
    
    .grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px;
    }
    
    .pic-text {
        font-size: 1em;
        padding: 10px;
    }
    
    .book-link {
        width: 35%;
    }
    
    .tel-num {
        font-size: 1.5em;
    }
    
    .map {
        width: 600px;
        height: 450px;
    }
    
    /* Tablet-Viewport: Style rule for form element */
    form {
        width: 70%;
        margin: 0 auto;
    }
    
    .comments {
        padding: 2%;
        margin: 2%;
    }
}

/* Media Query for Desktop Viewport */

@media screen and (min-width: 1015px), print {
    
    #header-flex {
        display: flex;
        align-items: stretch;
    }
    
    /* Desktop Viewport: Style rule for header */
    
    header {
        float: left;
        padding-bottom: 0;
    }
    
    /* Desktop Viewport: Style rules for nav area */
    
    nav {
        float: left;
        width: 100%;
        margin: auto;
        flex-grow: 1;
        padding: 2em;
    }
    
    nav ul {
        text-align: left;
    }
    
    nav li {
        border: none;
    }
    
    nav li a {
        padding: .5em;
    }
    
    /* Desktop Viewport: Style rules for main area */
    main h3 {
        font-size: 1em;
    }
    
    main p {
        font-size: 1em;
    }
    
    .frame {
        opacity: 0.9;
    }
    
    .frame:hover {
        opacity: 1;
        box-shadow: 8px 8px 10px #808080;
    }
    
    /* Desktop Viewport: Style rules for form element */
    form {
        width: auto;
    }
    
    .book-now {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
    }
    
    .btn {
        grid-column: 1/span 2;
    }
    
}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {
    #container {
        width: 1920px;
        margin: 0 auto;
    }
    
    table {
        width: 80%;
        margin: 0 auto;
    }
}

/* Media Query for Print */
@media print {
    
    body {
        background-color: #fff;
        color: #000;
    }
}
